.wrapper {
  flex-direction: column;

  .linkBack {
    all: unset;

    cursor: pointer;

    align-self: flex-start;

    margin-bottom: 10px;

    color: var(--color-light-100);
    text-decoration: none;

    svg {
      position: relative;
      top: -1px;
    }

    &:hover {
      color: var(--color-accent-500);

      svg {
        path {
          fill: var(--color-accent-500);
        }
      }
    }
  }

  .headerDeck {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 36px;
    margin-bottom: 25px;

    .headerLeft {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .deckNameWrapper {
        display: flex;
        align-items: center;

        .title {
          margin: 0;
        }
      }
    }

    .headerBtn,
    .headerLink {
      align-self: flex-start;
    }

    .emptyBlock {
      .emptyBlockBtn {
        margin: 0 auto;
        margin-top: 30px;
      }
    }
  }

  .emptyDeck {
    flex-direction: column;

    .headerLeft {
      align-self: flex-start;
      margin-bottom: 69px;
    }
  }

  .wrapperAvatarDeck {
    width: 170px;
    height: 107px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .mainContent {
    .cardsTable {
      margin: 24px 0;
    }
  }
}
