.card {
  padding: 33px 36px 25px;

  .content {
    display: flex;
    flex-direction: column;
    width: 348px;

    .signInHeader {
      align-self: center;
      margin-top: 0;
      margin-bottom: 27px;
      padding-top: 0;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    .wrapperInputs {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 9px;
    }

    .checkbox {
      margin-top: 9px;
    }

    .signInBtn {
      margin-bottom: 20px;
    }

    .wrapperForgotPass {
      cursor: pointer;
      align-self: flex-end;
      margin-top: 6px;
      margin-bottom: 60px;

      p {
        margin: 0;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 11px;
      align-items: center;

      .title {
        margin: 0;
      }

      .signUpLink {
        padding: 0;
      }
    }
  }
}
