.card {
  padding: 33px 36px 25px;

  .content {
    display: flex;
    flex-direction: column;
    width: 348px;

    .forgotPasswordHeader {
      align-self: center;
      margin-top: 0;
      margin-bottom: 27px;
      padding-top: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        margin: 0;
      }

      .sendBtn {
        margin-top: 65px;
        margin-bottom: 20px;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 11px;
      align-items: center;

      .title {
        margin: 0;
        padding: 0;
      }

      .link {
        padding: 0;
      }
    }
  }
}
