.layout {
  height: 100vh;

  .main {
    position: relative;
    width: 100%;
    padding: 24px 0;
    background-color: var(--color-dark-900);
  }

  .container {
    justify-content: center;
  }
}
