.deckNameField {
  width: 484px;
}

.checkbox {
  margin-bottom: 36px;
}

.blockButtonModal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trigger {
  margin-top: 24px;
  margin-bottom: 10px;

  .triggerText {
    margin: 0;
  }
}
