.header {
  display: flex;
  align-items: center;

  // position: absolute;
  // z-index: 10;
  // top: 0;
  // right: 0;
  // left: 0;

  padding: 2px 0;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);

  .logo {
    display: flex;
    align-items: center;
  }

  .headerConatiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 56px;
  }
}
