.card {
  padding: 33px 36px 60px;

  .content {
    display: flex;
    flex-direction: column;
    width: 348px;

    .cardTitle {
      align-self: center;
      margin-top: 0;
      margin-bottom: 50px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 19px;

      .description {
        margin-top: 0;
        margin-bottom: 40px;
        color: var(--color-light-900);
      }
    }
  }
}
